body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f8f9fa;
}

main {
  display: flex;
  height: 100vh;
}

section {
  display: flex;
  width: 100%;
}

.ingredients,
.burger-stack {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  box-sizing: border-box;
}

.ingredients {
  background-color: #3d3d3e;
}

.burger-stack {
  background-color: #3d3d3e;
  border-left: 1px solid #ccc;
}
h1 {
  text-align: center;
  color: black;
}
ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  color: rgb(142, 138, 138);
}

button {
  margin-left: 10px;
}
